# =========================
# Odoo / Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.pot
*.mo
*.log

# =========================
# Odoo runtime data
# =========================
odoo-data/
postgres-data/
filestore/

# =========================
# Docker / entorno
# =========================
.env
*.env
*.pid
*.sock
*.db
*.csv
*.zip
*.tar
*.gz

# =========================
# IDEs
# =========================
.idea/
.vscode/

# =========================
# Archivos temporales
# =========================
*.swp
*.tmp
*.bak
*.old

# =========================
# Sistema operativo
# =========================
.DS_Store
Thumbs.db
